{{template "base" .}}

{{define "css"}}
{{end}}

{{define "content"}}
    <h1>Admin Home Page</h1>

    <div class="container content">
        <div class="row">
            <div class="col">
                <a href="/admin/users">Manage Users</a>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
{{end}}