{{template "base" .}}

{{define "css"}}

{{end}}

{{define "content"}}
<div class="container content">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="row">
        <div class="col-md-6">
          <a href="/file-upload">File Upload</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="/term-select">Term Select</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
